.hide-on-large {
    margin: 6px;
}

#sidenav-overlay {
    opacity: 0;
    display: none;
}

@media only screen and (min-width: 992px) {
    .hide-on-large {
        display: none;
    }
}

h1, h4, h6 {
    text-align: center;
}

.nameInput {
    margin-top: 35px;
}

.table_btn {
    width: 90px;
    padding: 0 8px;
    font-size: 0.8em;
}

.btnspinner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btnspinner .btn {
    flex: 0 1 auto;
    margin: 10px;
}

nav {
    background-color: #41446F;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/* charts */
.axis {
	  font: sans-serif;
	}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
